{% extends 'base.html' %}
{% block content %}
    <div class="details">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}

            <button type="submit" class="button">Підтвердити</button>
            <a href="{% url 'profile' %}"><button type="button" class="button">В профіль</button></a>
        </form>

        {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
        {% endif %}
    </div>
{% endblock %}