{% extends 'base.html' %}
{% block content %}
    <p>Are you sure you want to delete "{{ object.title }}"?</p>
    
    <form method="post">
        {% csrf_token %}
        <a href="{% url 'task-list' %}"><button class="button" type="button">Назад до списку завдань</button></a>
        <a href="{% url 'task-detail' object.pk %}"><button class="button" type="button">Назад до поточного завдання</button></a>

        <button class="button delete" type="submit">Видалити</button>
    </form>
{% endblock %}
