{% extends 'base.html' %}

{% block header %}
    <form method="get">
        <div class="searchbar">
            <p class="search">
                <select name="{{ form.status.name }}" class="borderless-select">
                    {% for value, label in form.status.field.choices %}
                        <option value="{{ value }}" {% if value == form.status.value %}selected{% endif %}>{{ label }}</option>
                    {% endfor %}
                </select>
            </p>

            <button type="submit" class="button">Шукати</button>
            <a href="{% url 'task-create' %}"><button type="button" class="button">Створити завдання</button></a>
        </div>    
    </form>
{% endblock %}

{% block content %}
    <div class="task-list tasks">
        <ul class="tasks">
            {% for task in tasks %}
                <li>
                    <div class="task {{ task.priority }}">
                        <h1 class="title">{{ task.title }}</h1>
                        
                        <div class="task-detail-div">
                            <p class="status {{ task.status }}">{{ task.status }}</p>
                            <p class="priority {{ task.priority }}">{{ task.priority }}</p>
                            <a href="{% url 'task-detail' task.pk %}"><button class="button">Деталі</button></a>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>  
    </div>
{% endblock %}
