{% extends 'base.html' %}
{% block content %}
    <div class="details">
        <div class="head-row">
            <div class="task-info-div">
                <h2>{{ task.title }}</h2><h3>created by {{ task.creator }}</h3>
                <p class="priority {{ task.priority }}">{{ task.priority }}</p>
                <p class="status {{ task.status }}">{{ task.status }}</p>
            </div>
        </div>

        <a href="{% url 'task-list' %}"><button class="button">Back to list</button></a>
        <a href="{% url 'task-delete' task.pk %}"><button class="button delete">Delete</button></a>
        <a href="{% url 'task-update' task.pk %}"><button class="button update">Update</button></a>

        <p>Created at: {{ task.created_at }}</p>
        <p>Due date: {{ task.due_date }}</p>
        
        <p>Description: {{ task.description }}</p>

        <hr>

        <h2>Comments:</h2>

        {% for comment in task.comments.all %}
            <h3>{{ comment.author }} created at {{ comment.created_at }}</h3>
            <p>{{ comment.content }}</p>
            <a href="{% url 'comment-update' comment.pk %}"><button class="button update">Update</button></a>
            <a href="{% url 'comment-delete' comment.pk %}"><button class="button delete">Delete</button></a>
        {% endfor %}
        
        <hr>

        <h2>Create your own comment:</h2>

        <form method="post">
            {% csrf_token %}
            {{ comment_form.as_p }}

            <button class="button" type="submit">Submit</button>
        </form>
    </div>
{% endblock %}
